<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Estoque</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_controles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <a href="/" class="btn-voltar">Home</a>
        <header>
            <h1>Controle de Estoque - Lojas de Varejo</h1>
        </header>

        <!-- Tabela para exibir as lojas e seus produtos -->
        <section class="first-section">
            <h2>Lista de Lojas</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Loja</th>
                        <th>Endereço</th>
                        <th>Telefone</th>
                    </tr>
                </thead>
                <tbody>
                    {% for loja in lojas %}
                    <tr>
                        <td>{{ loja.nome_loja }}</td>
                        <td>{{ loja.endereco }}</td>
                        <td>{{ loja.telefone }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>

        <!-- Formulário para adicionar uma nova loja -->
        <section class="sec-section">
            <h2>Adicionar Nova Loja</h2>

            {% include '_messages.html' %}
            {% from "_formularioajuda.html" import render_field %}

            <form method="post" enctype="multipart/form-data" class="btn-form">
                {{ render_field(form.nome_loja, class="form-control", placeholder="Nome da Loja") }}
                {{ render_field(form.endereco, class="form-control", placeholder="Endereço da Loja") }}
                {{ render_field(form.telefone, class="form-control", placeholder="Telefone da Loja") }}

                <button type="submit" id="addLoja" class="btn-primary">Adicionar Loja</button>
            </form>
        </section>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>