{% extends "layoutControle.html" %}

{% block content %}

    <div class="container">
        <a href="/" class="btn-voltar">Voltar</a>
        <header>
            <h1>Controle de Estoque - Lojas de Varejo</h1>
        </header>

        <!-- Tabela para exibir as lojas e seus produtos -->
        <section class="first-section">
            <h2>Lista de Lojas</h2>
            <div id="table-container">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Loja</th>
                            <th>Endereço</th>
                            <th>Telefone</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for loja in lojas %}
                        <tr
                            data-loja-id="{{ loja.id_loja }}"
                            data-loja-nome="{{ loja.nome_loja }}"
                            data-loja-endereco="{{ loja.endereco }}"
                            data-loja-telefone="{{ loja.telefone }}"
                        >
                            <td id="{{ loja.nome_loja }}">{{ loja.nome_loja }}</td>
                            <td id="{{ loja.endereco }}">{{ loja.endereco }}</td>
                            <td id="{{ loja.telefone }}">{{ loja.telefone }}</td>
                            <td><button type="button" style="cursor: pointer;" class="btn btn-primary btn-sm select-loja">Selecionar</button></td>
                            <input type="hidden" name="loja_id" value="{{ loja.id_loja }}">
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
        </section>

        <!-- Formulário para adicionar uma nova loja -->
        <section class="sec-section">
            <h2>Cadastro de Lojas</h2>

            {% include '_messages.html' %}
            {% from "_formularioajuda.html" import render_field %}

            <form method="post" enctype="multipart/form-data" class="btn-form">
                {{ render_field(form.nome_loja, class="form-control", placeholder="Nome da Loja") }}
                {{ render_field(form.endereco, class="form-control", placeholder="Endereço completo da Loja") }}
                {{ render_field(form.telefone, class="form-control", placeholder="Telefone da Loja (com DDD)") }}
                {{ render_field(form.tipo_loja, class="form-control", placeholder="Tipo da Loja") }}
                
                <input type="hidden" name="loja_id" value="{{ form.loja_id.data }}"> <!-- hidden input para editar a loja existente -->

                <button type="submit" id="addLoja" class="btn btn-primary btn-sm">Cadastrar Loja</button>
                <button type="" id="upLoja" class="btn btn-primary btn-sm">Update Loja</button>
                 <!-- hidden input para editar a loja existente -->
            </form>
        </section>
    </div>

    <script>

    document.addEventListener('DOMContentLoaded', function() {

        addEventSelect()

        function preencherFormulario(row) {
            const lojaId = row.dataset.lojaId;
            const lojaNome = row.dataset.lojaNome;
            const lojaEndereco = row.dataset.lojaEndereco;
            const lojaTelefone = row.dataset.lojaTelefone;
            

            // Preenche os campos do formulário com os dados do processo e define '' antes de atribuir os valores
            const lojaIdField = document.querySelector('[name="loja_id"]');
            if (lojaIdField) {
                lojaIdField.value = '';
                lojaIdField.value = lojaId;
            }

            const lojaNomeField = document.querySelector('input[name="nome_loja"]');
            if (lojaNomeField) {
                lojaNomeField.value = '';
                lojaNomeField.value = lojaNome;
            }

            const lojaEnderecoField = document.querySelector('input[name="endereco"]');
            if (lojaEnderecoField) {
                lojaEnderecoField.value = '';
                lojaEnderecoField.value = lojaEndereco;
            }

            const lojaTelefoneField = document.querySelector('input[name="telefone"]');
            if (lojaTelefoneField) {
                lojaTelefoneField.value = '';
                lojaTelefoneField.value = lojaTelefone;
            }

            document.querySelector('button[type="submit"]').textContent = 'Atualizar Loja';

        }

        function addEventSelect(){

            const lojaIdField = document.querySelector('[name="loja_id"]');
            lojaIdField.value = '';

            document.querySelectorAll('.select-loja').forEach(button => {
                button.addEventListener('click', function() {
                    const row = button.closest('tr');
                    console.log("Selecionando loja:", row);
                    preencherFormulario(row);
                
                });
            });
        }

        addlojabutton = document.getElementById('upLoja')

        addlojabutton.addEventListener('click', function(){
            event.preventDefault();
            const lojaIdField = document.querySelector('input[name="loja_id"]');
            const lojaIdFieldValue = document.querySelector('input[name="loja_id"]').value;
            const lojaNomeFieldValue = document.querySelector('input[name="nome_loja"]').value;
            const lojaEnderecoFieldValue = document.querySelector('input[name="endereco"]').value;
            const lojaTelefoneFieldValue = document.querySelector('input[name="telefone"]').value;
            
            // Verifica se o campo tem valor
            if (lojaIdField && lojaIdField.value) {
                // Construa a URL com os parâmetros
				fetch(`http://127.0.0.1:5000/editar_loja/${lojaIdFieldValue}/${encodeURIComponent(lojaNomeFieldValue)}/${encodeURIComponent(lojaEnderecoFieldValue)}/${encodeURIComponent(lojaTelefoneFieldValue)}`, {
                    method: 'POST'
                })

            } 
        })



    });



    </script>

{% endblock content %}