<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Estoque</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_controles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <a href="/home" class="btn-voltar">Home</a>
        <header>
            <h1>Controle de Vendas - Lojas CEFET</h1>
        </header>

        <!-- Tabela para exibir as lojas e seus produtos -->
        <section class="first-section">
            <h2>Lista de Vendas</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Id Produto</th>
                        <th>Data de Venda</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for venda in vendas %}
                    <tr>
                        <td>{{ venda.id_loja }}</td>
                        <td>{{ venda.id_produto }}</td>
                        <td>{{ venda.data_venda }}</td>
                        <td>{{ venda.valor_total }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>

        <!-- Formulário para adicionar uma nova loja -->
        <section class="sec-section">
            <h2>Adicionar Nova Venda</h2>

            {% include '_messages.html' %}
            {% from "_formularioajuda.html" import render_field %}

            <form method="post" enctype="multipart/form-data" class="btn-form">
                {{ render_field(form.id_loja, class="form-control", placeholder="Id da Loja") }}
                {{ render_field(form.data_venda, class="form-control", placeholder="Quantidade") }}
                {{ render_field(form.valor_total, class="form-control", placeholder="Preço Unitário") }}
            
                <button type="submit" id="addVenda" class="btn-primary">Adicionar Venda</button>
            </form>
        </section>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>