{% extends "layoutControle.html" %}

{% block content %}

    <div class="container">
        <a href="/home" class="btn-voltar">Home</a>
        <header>
            <h1>Controle de Produtos - Lojas de Varejo</h1>
        </header>

        <!-- Tabela para exibir os produtos -->
        <section class="first-section">
            <h2>Lista de Produtos</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Preço Unitário</th>
                        <th>Estoque Mínimo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for produto in produtos %}
                    <tr>
                        <td>{{ produto.nome_produto }}</td>
                        <td>{{ produto.descricao }}</td>
                        <td>R$ {{ "%.2f"|format(produto.preco_unitario) }}</td>
                        <td>{{ produto.estoque_minimo }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>

        <!-- Formulário para adicionar um novo produto -->
        <section class="sec-section">
            <h2>Adicionar Novo Produto</h2>

            {% include '_messages.html' %}
            {% from "_formularioajuda.html" import render_field %}

            <form method="post" enctype="multipart/form-data" class="btn-form">
                {{ render_field(form.nome_produto, class="form-control", placeholder="Nome do Produto") }}
                {{ render_field(form.descricao, class="form-control", placeholder="Descrição do Produto") }}
                {{ render_field(form.preco_unitario, class="form-control", placeholder="Preço Unitário") }}
                {{ render_field(form.estoque_minimo, class="form-control", placeholder="Estoque Mínimo") }}

                <button type="submit" id="addProduto" class="btn-primary">Adicionar Produto</button>
            </form>
        </section>
    </div>

{% endblock content %}