{% extends "layoutIndex.html" %}

{% block content %}

    <div class="container">
       
        <aside>
            <div class="toggle">
                <div class="logo">
                    <img src="{{ url_for('static', filename='images/estoque.png') }}" alt="Logo">
                    <h2>Stock<span class="danger">CEFET</span></h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">
                        close
                    </span>
                </div>
            </div>

            <div class="sidebar">
                <a  href="/lojas">
                    <span class="material-symbols-outlined">
                       store
                    </span>
                    <h3>Nova loja</h3>
                </a>
                <a href="/produtos">
                    <span class="material-symbols-outlined">
                        inventory_2
                    </span>
                    <h3>Produtos</h3>
                </a>
                <a href="/vendas">
                    <span class="material-icons-sharp">
                        receipt_long
                    </span>
                    <h3>Vendas</h3>
                </a>
                <a href="/fornecedores">
                    <span class="material-symbols-outlined">
                        delivery_truck_speed
                    </span>
                    <h3>Fornecedores</h3>
                </a>
                <a href="#">
                    <!-- <span class="material-symbols-outlined">
                        delivery_truck_speed
                    </span>
                    <h3>Fornecedores</h3> -->
                </a>
            </div>
        </aside>

       
        <main>
            <h1>Página Inicial</h1>

            <div class="recent-orders">
                <h2>Nossas Lojas</h2>
                <div id="table-container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Loja</th>
                                <th>Endereço</th>
                                <th>Telefone</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for loja in lojas %}
                            <tr>
                                <td>{{ loja.nome_loja }}</td>
                                <td>{{ loja.endereco }}</td>
                                <td>{{ loja.telefone }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
                <a href="/lojas" style="background-color: #cf0450; padding-bottom: 0.5rem; padding-top: 0.5rem; border-radius: 15px; width: 10%; color: white;">Cadastrar nova</a>
            </div>

            <div class="recent-orders">
                <h2>Nossos Produtos</h2>
                <div id="table-container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Descrição</th>
                                <th>Preço</th>
                                <th>Estoque Mínimo</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for produto in produtos %}
                            <tr>
                                <td>{{ produto.nome_produto }}</td>
                                <td>{{ produto.descricao }}</td>
                                <td>R$ {{ "%.2f"|format(produto.preco_unitario) }}</td>
                                <td>{{ produto.estoque_minimo }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <a href="/produtos" style="background-color: #cf0450; padding-bottom: 0.5rem; padding-top: 0.5rem; border-radius: 15px; width: 10%; color: white;">Cadastrar novo</a>
            </div>
            

        </main>
        
        <div class="right-section">
            <div class="nav">
                <button id="menu-btn">
                    <span class="material-icons-sharp">
                        menu
                    </span>
                </button>
                <div class="dark-mode">
                    <span class="material-icons-sharp active">
                        light_mode
                    </span>
                    <span class="material-icons-sharp">
                        dark_mode
                    </span>
                </div>

                <div class="profile">
                    <div class="info">
                        <p>Olá, <b>***</b></p>
                        <small class="text-muted">Admin</small>
                    </div>
                </div>

            </div>
            
            <div class="reminders">
                <div class="header">
                    <h2>Histórico de Vendas</h2>
                    <span class="material-icons-sharp">
                        notifications_none
                    </span>
                </div>
                
                <div id="secaoNotificacao">
                    {% for venda in vendas %}
                    <div class="notification">
                        <div class="icon">
                            <span class="material-symbols-outlined">
                                inventory
                            </span>
                        </div>
                        <div class="content">
                            <div class="info">
                                <h3>{{ venda.nome_loja }}</h3>
                                <small class="text_muted">
                                    {{ venda.itens }}
                                </small>
                                <br>
                                <small class="text_muted">
                                {{ venda.valor_total_formatado }}
                                </small>
                            </div>
                            <span class="material-icons-sharp">
                                more_vert
                            </span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                

            </div>

        </div>


    </div>

{% endblock content %}